<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>funhouse</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document</string>
			<key>CFBundleTypeName</key>
			<string>Fun House Preset</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>FunHouseDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>com.compuserve.gif</string>
				<string>public.png</string>
				<string>public.jpeg-2000</string>
				<string>public.tiff</string>
				<string>com.adobe.photoshop-image</string>
				<string>com.adobe.pdf</string>
				<string>com.adobe.illustrator.ai-image</string>
				<string>com.microsoft.ico</string>
				<string>com.microsoft.bmp</string>
				<string>com.apple.icns</string>
				<string>public.xbitmap-image</string>
				<string>com.microsoft.cur</string>
				<string>com.apple.pict</string>
				<string>com.truevision.tga-image</string>
				<string>com.sgi.sgi-image</string>
				<string>com.apple.quicktime-image</string>
				<string>com.kodak.flashpix-image</string>
				<string>com.apple.macpaint-image</string>
				<string>public.radiance</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FunHouseDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Core Image Fun House</string>
	<key>CFBundleIconFile</key>
	<string>NSApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.CoreImageFunHouse.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>CIFH</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FunHouseApplication</string>
</dict>
</plist>
